{% extends "layout.html" %}

{% block content %}
<div class="content-section">
    <h2>Order Details</h2>
    <p><strong>Service Title:</strong> {{ service.title }}</p>
    <p><strong>Service Description:</strong> {{ service.description }}</p>
    
    <h3>Customer Information</h3>
    <p><strong>Name:</strong> {{ customer.username }}</p>
    <p><strong>Email:</strong> {{ customer.email }}</p>
    
    <h3>Order Information</h3>
    <p><strong>Order Location:</strong> {{ order.order_loc }}</p>
    <p><strong>Price:</strong> ${{ order.price }}</p>
    <p><strong>Status:</strong> {{ order.status.value }}</p>

    <h3>Update</h3>
    <div class="d-flex gap-3">  <!-- Increased gap for more space between buttons -->
        <form method="POST" action="{{ url_for('mark_ontheway', order_id=order.id) }}">
            <button type="submit" class="btn btn-primary btn-sm">On the Way</button>
        </form>

        <form method="POST" action="{{ url_for('mark_reached', order_id=order.id) }}">
            <button type="submit" class="btn btn-warning btn-sm">Reached</button>
        </form>

        <form method="POST" action="{{ url_for('mark_completed', order_id=order.id) }}">
            <button type="submit" class="btn btn-success btn-sm">Completed</button>
        </form>
    </div>

    <a href="{{ referrer }}" class="btn btn-secondary mb-3 mt-3">Back</a>
</div>
{% endblock %}
